asgiref
diff-match-patch
Django
django-import-export
djangorestframework
gunicorn==22.0.0
lxml
packaging==24.0
pillow
psycopg2-binary
sqlparse
tablib
typing_extensions
tzdata
whitenoise
djangorestframework-simplejwt
django-cors-headers
openpyxl
